# Auto detect text files and perform LF normalization
* text=auto
# Ignore Visual Studio debug files
*.visdx
*.pdb

# Ignore binary files
*.bin
*.dll
*.exe
SonKoc.IysService/.vs/YksProject/FileContentIndex/0ebaa368-46d5-42b8-bae2-9bbf76bbd2b7.vsidx
SonKoc.IysService/.vs/YksProject/v17/.suo
SonKoc.IysService/ApiConsume/YksProject.WebApi/bin/Debug/net5.0/YksProject.WebApi.dll
SonKoc.IysService/ApiConsume/YksProject.WebApi/bin/Debug/net5.0/YksProject.WebApi.exe
YksProject.Web-UI/.vs/YksProject.FrontEnd-Admin/FileContentIndex/1b20cbe0-4c26-4e69-9d88-f5a29faf33c4.vsidx
YksProject.Web-UI/.vs/YksProject.FrontEnd-Admin/FileContentIndex/1b20cbe0-4c26-4e69-9d88-f5a29faf33c4.vsidx
YksProject.Web-UI/.vs/YksProject.FrontEnd-Admin/FileContentIndex/3d88f7ba-18b8-4b68-88ca-2f72f1cbc0cc.vsidx
YksProject.Web-UI/.vs/ProjectEvaluation/yksproject.frontend-admin.projects.v7.bin
YksProject.Web-UI/.vs/ProjectEvaluation/yksproject.frontend-admin.metadata.v7.bin
SonKoc.IysService/ApiConsume/YksProject.WebApi/obj/Debug/net5.0/YksProject.WebApi.sourcelink.json
SonKoc.IysService/ApiConsume/YksProject.WebApi/obj/Debug/net5.0/YksProject.WebApi.RazorTargetAssemblyInfo.cache
