@{
    ViewData["Title"] = "SinavTipleri";
    Layout = "_LayoutAdmin";
    ViewData["PageTitle"] = "Sinav Tipleri Işlemleri";
    ViewData["PageMainAdresse"] = "/SinavTipleri/SinavTipiListele";
    ViewData["PageMainTitle"] = "Sinav Tipleri Işlemleri";
    ViewData["PageTwiceTitle"] = "Sinav Tipleri Listele";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<div class="">
    <a asp-action="SinavTipiEkle" asp-controller="SinavTipleri" class="btn  mb-1 btn-rounded btn-info">Ekle</a>
    <table id="SinavTipleriGenelTable" style="width: 100% !important;" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Sinav Tipi Adi</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


<script src="~/js/sinav/sinavtiplerilist.js"></script>