@{
    Layout = null;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="~/css/loginpage.css" rel="stylesheet" />
<script src="~/js/loginregister/login.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="login-container" style="height: 200px; width: 260px; margin: auto;">
    <div class="login__field">
        <i class="fa-regular fa-user"></i>
        <input type="text" class="login__input" id="usernameoremail" placeholder="Kullanıcı Adı / Email">
    </div>

    <div class="login__field">
        <i class="fa-solid fa-lock"></i>
        <input type="password" class="login__input" id="password" placeholder="Şifre">
    </div>

    <button class="button login__submit" onclick="girisyap()">
        <span class="button__text">Giriş Yap</span>
        <i class="button__icon fas fa-chevron-right"></i>
    </button>
</div>
