
@{
    ViewData["Title"] = "OgrenciEkle";
    Layout = "~/Views/Shared/_LayoutKurum.cshtml";
}
<link href="~/css/ogradd.css" rel="stylesheet" />
<div class="container">
    
        <div class="row">
            <h4>Öğrenci</h4>
            <div class="input-group input-group-icon">
            <input type="text" id="isim" placeholder="İsim">
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
        <div class="input-group input-group-icon">
            <input type="text" id="soyisim" placeholder="Soy İsim">
            <div class="input-icon">
                <i class="fa fa-user"></i>
            </div>
        </div>

        <div class="input-group input-group-icon">
            <input type="text" id="username" placeholder="Kullanıcı Adı">
            <div class="input-icon">
                <i class="fa fa-user"></i>
            </div>
        </div>
            <div class="input-group input-group-icon">
            <input type="text" id="email" placeholder="Email Adres">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
            <div class="input-group input-group-icon">
            <input type="text" id="password" placeholder="Şifre">
                <div class="input-icon">
                    <i class="fa fa-key"></i>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-half">
            <h4>Doğum Tarihi</h4>
            <div class="input-group">
                <div class="col-third">
                    <input type="text" id="Gun" placeholder="Gün">
                </div>
                <div class="col-third">
                    <input type="text" id="Ay" placeholder="Ay">
                </div>
                <div class="col-third">
                    <input type="text" id="Yil" placeholder="Yıl">
                </div>
            </div>
        </div>
        <div class="col-half">
            <h4>Cinsiyet</h4>
            <div class="input-group">
                <input id="gender-male" type="radio" name="gender" value="1">
                <label for="gender-male">Erkek</label>
                <input id="gender-female" type="radio" name="gender" value="2">
                <label for="gender-female">Kadın</label>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button class="btn mb-1 btn-rounded btn-primary" onclick="OgrenciEkle()">Ekle</button>
        <button class="btn mb-1 btn-rounded btn-info" onclick="ListelemeyeDon()">Listelemeye Dön</button>
    </div>
</div>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/Kurum/ogrenciadd.js"></script>

<script>
    function ListelemeyeDon()
        {
        location.href = "/Kurum/Ogrenciler";
        }
</script>