
@{
    ViewData["Title"] = "Yönetim Paneli";
    Layout = "_LayoutAdmin";
    ViewData["PageTitle"] = "Yönetim Paneli";
    ViewData["PageMainAdresse"] = "/Admin/Index";
    ViewData["PageMainTitle"] = "Yönetim Paneli";
    ViewData["PageTwiceTitle"] = "Detaylar";
}

<!-- Icon Cards-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="row">
    <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card text-white o-hidden h-100" style="background-color: #ff6b6b;">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="mr-5">Toplam 26 Kullanıcı!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" asp-controller="Admin" asp-action="OgrenciGoruntule">
                <span class="float-left">Detaylı İncele</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card text-white o-hidden h-100" style="background-color: #f9c54e;">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa-solid fa-school"></i>
                </div>
                <div class="mr-5">Toplam 11 Kurum!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Detaylı İncele</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card text-white o-hidden h-100" style="background-color: #91be6f;">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">Toplam 123 Satış!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Detaylı İncele</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

<!-- Icon Cards Social Media-->

<div class="row">
    <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card text-white o-hidden h-100" style="background-color: #43a889;">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="mr-5">
                    Toplam 22 Instagram Takipçisi!
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card text-white o-hidden h-100" style="background-color: #56758f;">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
                <div class="mr-5">Toplam 11 Kurum!</div>
            </div>
        
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card text-white o-hidden h-100" style="background-color: #43a889;">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa-brands fa-x-twitter"></i>
                </div>
                <div class="mr-5">Toplam 123 Satış!</div>
            </div>
           
        </div>
    </div>
</div>
<script>
   
</script>