@{
    ViewData["Title"] = "Referanslar";
    Layout = "_LayoutAdmin";
    ViewData["PageTitle"] = "Referans Işlemleri";
    ViewData["PageMainAdresse"] = "/Referanslarimiz/ReferansListeleme";
    ViewData["PageMainTitle"] = "Referans Işlemleri";
    ViewData["PageTwiceTitle"] = "Referans Listele";
}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<div class="">
    <a asp-action="ReferansEkleme" asp-controller="Referanslarimiz" class="btn  mb-1 btn-rounded btn-info">Ekle</a>
    <table id="ReferansGenelTable" style="width: 100% !important;" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Referans Adı</th>
                <th>Referans Acıklaması</th>
                <th>Referans Olan Kişi Rolü</th>
                <th>Referans Puanı</th>
                <th>Referans Fotoğrafı</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="~/js/referans/Referanslist.js"></script>
