@{
    ViewData["Title"] = "Dersler";
    Layout = "_LayoutAdmin";
    ViewData["PageTitle"] = "Ders Işlemleri";
    ViewData["PageMainAdresse"] = "/Dersler/DersListele";
    ViewData["PageMainTitle"] = "Ders Işlemleri";
    ViewData["PageTwiceTitle"] = "Ders Ekle";
}


<h2>Ders Güncelleme Sayfası </h2>
<br />
<label>Ders Adı </label>
<input type="text" id="dersAdi" class="form-control" />
<br />
<label>Hangi Bölüme Ait</label>
<select name="bolum" id="bolum" class="form-control">
    <option value="0">Seçiniz</option>
</select>
<br />
<button class="btn  mb-1 btn-rounded btn-primary" onclick="DersGuncelle()">Güncelle</button>
<button class="btn  mb-1 btn-rounded btn-info" onclick="ListelemeyeDon()">Listelemeye Dön</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="~/js/DersGuncelle.js"></script>
