@{
    ViewData["Title"] = "Bölümler";
    Layout = "_LayoutAdmin";
    ViewData["PageTitle"] = "Bölüm Işlemleri";
    ViewData["PageMainAdresse"] = "/Bolumler/BolumListele";
    ViewData["PageMainTitle"] = "Bölüm Işlemleri";
    ViewData["PageTwiceTitle"] = "Bölüm Ekle";
}

<h2>Bölüm Ekleme Sayfası </h2>
<br />
<label>Bölüm Adı </label>
<input type="text" id="BolumAd" class="form-control" />
<br />
<label>Bölüm Kodu </label>
<input type="text" id="BolumKod" class="form-control" />
<br />
<button class="btn  mb-1 btn-rounded btn-primary" onclick="BolumEkle()">Ekle</button>
<button class="btn  mb-1 btn-rounded btn-info" onclick="ListelemeyeDon()">Listelemeye Dön</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    function ListelemeyeDon() { 
        location.href = "/Bolumler/BolumListele";
    }

   
</script>
<script src="~/js/bolumadd.js"></script>