
<ul class="metismenu" id="menu">
    <li class="active">
        <a class="nav-link" asp-action="Index" asp-controller="Admin">
            <i class="ti-home"></i>
            <span>Yönetim Paneli</span>
        </a>
    </li>
    <li>
        <a class="nav-link" asp-action="ReferansListeleme" asp-controller="Referanslarimiz">
            <i class="ti-dashboard"></i>
            <span>Referans İşlemleri</span>
        </a>
    </li>

    <li>
        <a class="nav-link" asp-action="BolumListele" asp-controller="Bolumler">
            <i class="ti-dashboard"></i>
            <span>Bölüm İşlemleri</span>
        </a>
    </li>
    
    <li>
        <a class="nav-link" asp-action="UyelikPaketiList" asp-controller="UyelikPaketi">
            <i class="ti-dashboard"></i>
            <span>Üyelik Paketi İşlemleri</span>
        </a>
    </li>
    <li>
        <a class="nav-link" asp-action="PaketUyeTipleriList" asp-controller="PaketUyeTipleri">
            <i class="ti-dashboard"></i>
            <span>ÜyeTipleri İşlemleri</span>
        </a>
    </li>

    <li>
        <a class="nav-link" asp-action="HomePostList" asp-controller="HomePost">
            <i class="ti-dashboard"></i>
            <span>Home-Post İşlemleri</span>
        </a>
    </li>

    <li>
        <a class="nav-link" asp-action="DersListele" asp-controller="Dersler">
            <i class="ti-dashboard"></i>
            <span>Ders İşlemleri</span>
        </a>
    </li>
   
    <li>
        <a class="nav-link" asp-action="KonularList" asp-controller="Konular">
            <i class="ti-dashboard"></i>
            <span>Konu İşlemleri</span>
        </a>
    </li>

    <li>
        <a class="nav-link" asp-action="SinavTipiListele" asp-controller="SinavTipleri">
            <i class="ti-dashboard"></i>
            <span>Sınav Tipi İşlemleri</span>
        </a>
    </li>
    <li>
        <a class="nav-link" asp-action="SinavListeleme" asp-controller="Sinav">
            <i class="ti-dashboard"></i>
            <span>Sınav İşlemleri</span>
        </a>
    </li>
    <li>
        <a class="nav-link" asp-action="PromoKeyList" asp-controller="PromoKey">
            <i class="ti-dashboard"></i>
            <span>Promo Kod İşlemleri</span>
        </a>
    </li>
    <li>
        <a class="nav-link" asp-action="GununSozuList" asp-controller="GununSozu">
            <i class="ti-dashboard"></i>
            <span>Günün Sözü İşlemleri</span>
        </a>
    </li>
   
 
</ul>


